/* Custom styles for the custom plugin */
.category-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.category-container a {
    margin: 10px;
    text-decoration: none;
    background-color: #95cb2a;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
}

.category-container a.active,
.category-container a:hover {
    background-color: #000;
    transition: 0.5s ease-in-out;
}

/* Card */
.related-posts-container {
    margin: 50px 0px;
}

.transimpex-related-pots {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.related-post {
    width: 25%;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.post-content {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.thumbnail img {
    box-sizing: border-box;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.transimpex-content {
    background-color: #fff;
    padding: 24px 24px 20px;
    flex-grow: 1;
    height: auto;

}

.transimpex-content h2 {
    margin: 0px;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
}

.post-content .excerpt {
    font-size: 14px;
    font-weight: 300;
    flex-grow: 1;
}

.transimpex-flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-grow: 1;
    height: 300px;
    margin-top: 20px;
}

.transimpex-item img {
    height: 50px;
    width: 100%;
    object-fit: contain;
}

.transimpex-item {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.transimpex-item:last-child {
    width: 25%;
}

.post-content {
    position: relative;
}

.transimpex-cta {
    position: absolute;
    bottom: 5%;
    left: 12%;
    width: max-content;
    display: flex;
    justify-content: flex-start;
}

.post-content a {
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 9px 15px;
    font-size: 14px;
    font-weight: 800;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
}

.post-content a::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0iZmVhdGhlciBmZWF0aGVyLWFycm93LXJpZ2h0Ij48bGluZSB4MT0iNSIgeTE9IjEyIiB4Mj0iMTkiIHkyPSIxMiIvPjxwb2x5bGluZSBwb2ludHM9IjEyIDUgMTkgMTIgMTIgMTkiLz48L3N2Zz4=');
    background-size: contain;
    background-repeat: no-repeat;
    color: #fff;
    transition: transform 0.3s;
    /* Smooth transition for arrow movement */
}

.post-content a:hover {
    background-color: #d0e34a;
    color: #000;
    border-radius: 0px;
}

.post-content a:hover::after {
    filter: invert(1);
    transform: translateX(5px);
    /* Move arrow to the right on hover */
}

/* Loading */

.loading::before {
    background: #b4d609;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .5;
    z-index: 9;
}

.loading {
    position: relative;
}

.loading:after {
    content: " ";
    display: block;
    width: 48px;
    height: 48px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #008151;
    border-color: #008151 transparent #008151 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateY(-50%);
    margin-top: -24px;
    margin-left: -24px;
    z-index: 9;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* detail page*/
.related-certifcates h2 {
    margin: 0;
    font-size: 20px;
    color: #a2d131;
    font-weight: 600;
}

.custom-post-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.custom-post-list .post-categories {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.custom-post-list .post-categories img {
    height: 50px;
    width: auto;
    object-fit: cover;
    margin: 0 5px;
}


.wpml-ls-legacy-list-horizontal {
    padding: 0 !important;
}

.wpml-ls-legacy-list-horizontal a {
    font-weight: bold;
}

.nav-header-extra {
    position: relative;
}

.wpml-ls-item-legacy-list-horizontal {
    border-left: 2px solid black;
    padding-left: 10px;
    height: 26px;
    display: flex;
    align-items: center;
}

.wpml-ls-item-legacy-list-horizontal:first-child {
    border-left: none;
    padding-left: 0;
}


.wpml-ls-statics-shortcode_actions ul li a {
    text-decoration: none;
    color: #000;
    position: relative;
}

.wpml-ls-statics-shortcode_actions ul li.wpml-ls-current-language a::after {
    content: '';
    position: absolute;
    top: 46px;
    left: 10px;
    right: 0px;
    bottom: 15px;
    border-bottom: 5px solid #d0e34a;
    border-radius: 5px;
    pointer-events: none;
    width: 25px;
}

.entry-content {
    margin-top: 0px;
}

.wp-block-search.wp-block-search__button-only .wp-block-search__input {
    z-index: 2;
}

/* End of WPML swicther */

/* Responive Menu */
body .wp-block-navigation__responsive-close .wp-block-buttons-is-layout-flex,
.wp-block-navigation .wpml-language-switcher-navigation-block {
    display: none;
}

.header-container {
    width: 1350px;
    max-width: 100%;
    height: 75px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-item .logo {
    width: 225px;
    height: 63px;
}

.header-item .logo img {
    width: 100%;
}

.main-menu .menu {
    list-style: none;
    display: flex;
    padding: 5px 20px;
    position: relative;
}

.main-menu .menu li {
    position: relative;
}

.main-menu .menu li ul {
    display: none;
    position: absolute;
    top: 50px;
    left: 10px;
    background: #fff;
    list-style: none;
    padding: 2px 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-top: 3px solid #d0e34a;
}

.main-menu .menu li:hover>ul {
    display: block;
}

.main-menu .menu li ul li {
    width: max-content;
    font-size: 14px;
    padding: 0px 10px;
}

.main-menu .menu li ul li a {
    display: block;
    padding: 5px;
    color: #333;
    text-decoration: none;
}

.main-menu .menu li ul li a:hover {
    color: #000;
}

.main-menu .menu>li>a {
    font-weight: 600;

}

.main-menu .menu>li.menu-item-has-children>a::after {
    content: "\25BC";
    /* Unicode for down arrow */
    font-size: 12px;
    margin-left: 8px;
    display: inline-block;
    transition: transform 0.3s;
}

/* Rotate the arrow on hover */
.main-menu .menu>li:hover>a::after {
    transform: rotate(180deg);
}

.main-menu .menu li a {
    color: #333;
    text-decoration: none;
    padding: 5px 15px;
    display: block;

}

.search-icon {
    cursor: pointer;
    font-size: 20px;
    color: #333;
    transition: color 0.3s;
}

.search-icon i {
    cursor: pointer;

}

.header-item:last-child .header-right:nth-child(2) {
    position: relative;
}

.search-bar {
    display: none;
    position: absolute;
    top: 30px;
    right: 0px;
    z-index: 1000;
}

.search-bar input[type="search"] {
    padding: 8px 12px;
    border: 2px solid #000;
    border-radius: 10px;
    width: 200px;
}

@media (max-width: 768px) {
    .search-bar {
        width: 100%;
        right: 0;
    }

    .search-bar input[type="search"] {
        width: calc(100% - 24px);
    }
}

.search-form {
    display: flex;
    justify-content: center;
}

.search-field {
    padding: 10px;
    border: 2px solid #ccc;
    border-right: none;
    border-radius: 4px 0 0 4px;
    outline: none;
    font-size: 16px;
    width: 250px;
}

.search-submit:hover {
    background-color: #005bb5;
}

.search-bar .search-submit {
    display: none;
}

.permalink-button {
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    background-color: #d0e34a;
    color: #000;
    padding: 9px 15px;
    font-size: 14px;
    font-weight: 800;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
}

.permalink-button:hover {
    background-color: #000;
    color: #fff;
}

.permalink-button::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0iZmVhdGhlciBmZWF0aGVyLWFycm93LXJpZ2h0Ij48bGluZSB4MT0iNSIgeTE9IjEyIiB4Mj0iMTkiIHkyPSIxMiIvPjxwb2x5bGluZSBwb2ludHM9IjEyIDUgMTkgMTIgMTIgMTkiLz48L3N2Zz4=");
    background-size: contain;
    background-repeat: no-repeat;
    color: #fff;
    transition: transform 0.3s;
}

.permalink-button:hover::after {
    filter: invert(0);
    transform: translateX(5px);
}

.header-item:last-child {
    display: flex;
    margin: 0 10px;
    align-items: center;
}

.header-item:last-child .header-right {
    margin: 0 10px;
}





@media screen and (max-width: 1024px) {
    .related-post {
        width: 50%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .related-post {
        width: 50%;
        margin-bottom: 20px;
    }

    .category-container {
        flex-wrap: wrap;
    }

    /* Menu */
    /* body .wp-block-navigation__responsive-close .wp-block-buttons-is-layout-flex,
    .wp-block-navigation .wpml-language-switcher-navigation-block,
    .wp-block-search {
        display: block;
    }

    .transimpex-nav #modal-4-content {
        align-items: center;
        text-align: center !important;
    }

    .transimpex-lang {
        margin-top: 0 !important;
        margin-bottom: 0 !important;

    }

    .transimpex-lang ul.horizontal-list li .wp-block-navigation-item__content {
        height: auto;
    }

    .transimpex-lang ul.horizontal-list .wp-block-navigation-item {
        position: relative;
    }

    .transimpex-lang ul.horizontal-list .wp-block-navigation-item:not(:last-child)::after {
        content: "";
        height: 20px;
        width: 3px;
        background-color: #000;
        margin-left: 8px;
        position: absolute;
        right: -15px;
        bottom: 0;
    }

    .transimpex-lang [data-wpml="current-language-item"] span::after {
        content: '';
        position: absolute;
        left: 0;
        top: 23px;
        height: auto;
        width: 20px;
        border-bottom: 5px solid #d0e34a;
    }

    .tranimpex-search :where(.wp-block-search__button-inside .wp-block-search__inside-wrapper) {
        border: 0;
    }

    .tranimpex-search {
        width: 90%;
        display: flex;
        align-items: center;
        border-radius: 100px;
        margin: 30px 0px;
        border: 1px solid #fff;
    }

    .tranimpex-search .wp-block-search__inside-wrapper {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        height: 40px;
        padding: 5px 0px;
    }

    .tranimpex-search .wp-block-search__input {
        background-color: transparent;
        padding: 8px 16px;
        margin-right: 8px;
    }

    .tranimpex-search .wp-block-search__button {
        background-color: transparent;
        border: none;
        color: #fff;

        padding: 0px 10px;
    }

    .tranimpex-search .wp-block-search__button svg {
        color: transparent;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='27.007' viewBox='0 0 27 27.007'%3E%3Cpath id='Icon_ionic-ios-search' data-name='Icon ionic-ios-search' fill='%23fff' d='M31.184,29.545l-7.509-7.58a10.7,10.7,0,1,0-1.624,1.645l7.46,7.53a1.156,1.156,0,0,0,1.631.042A1.163,1.163,0,0,0,31.184,29.545ZM15.265,23.7a8.45,8.45,0,1,1,5.977-2.475A8.4,8.4,0,0,1,15.265,23.7Z' transform='translate(-4.5 -4.493)'/%3E%3C/svg%3E%0A");
    } */
}

@media screen and (max-width: 480px) {
    .category-container {
        flex-wrap: wrap;
    }

    .related-post {
        width: 100%;
        margin-bottom: 20px;
    }
}